* {
    font-family: monospace;
}

/* game */
body {
    max-width: 67vh;
    margin: auto;
}
main {
    width: 100%;
}

main canvas {
    display: block;
    width: 100%;
}

/* crisp edges */
main canvas {
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

main section {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    
    font-size: xx-large;
    color: white;
}

main section button {
    font-size: xx-large;
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;
}