* {
    font-family: monospace;
}

/* game */
body {
    margin: 0;
    background-color: #101812;
}

.mainContainer {
    max-width: 67vh;
    margin: auto;
}
main {
    width: 100%;
    position: relative;
}

main canvas {
    display: block;
    width: 100%;
}

/* crisp edges */
main canvas {
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

main section {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    
    font-size: xx-large;
    color: white;
    z-index: 100;
}

main section.front {
    z-index: 101;
}

main section button {
    font-size: xx-large;
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;
    margin: 7px;
}

main section button:hover {
    background: rgba(255, 255, 255, 0.5);
}

main .scoreDisplay {
    font-weight: bold;
    font-size: 2em;
    padding: 7px;
    background-color: #203123;
}

main .scoreDisplay {
    pointer-events: none;
}

main .fullscreenBox {
    right: 0;
}

main .fullscreenBox button {
    padding: 0;
    background-color: #203123;
}